{% extends 'student/bash.html' %}
{% load static %}

{% block main-content %}
<fieldset style="margin-top: 110px; margin-bottom: 60px">
<div class="container" id = "Annoucementsid">
    {% for message in messages %}
    <div class="message {{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
    <div class="row col-sm-12">
        <h3 class="h3">Bank Transactions</h3>
    </div>
</div>
<hr style="color: #6b130d; height: 5px;">

<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>

<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>


<div class="bnktra">
    <div class="row" style="padding-bottom: 30px">
        <div class="col-sm-8" style="height: auto; width: auto" id = "columan">
            <p id = "text">Id :&nbsp; &nbsp; &nbsp;<strong>9112661</strong> &nbsp; &nbsp; &nbsp; Fee for Session Nov-2022 for Rs.1000/- is <strong style="color: green">Payment Succesful &nbsp; &nbsp; &nbsp;</strong><a href="#"><i class="fa fa-download"></i></a></p>
            <p id = "printlink">Transaction Date: Nov 21st 2022, 7:06:20pm <strong>Bank Response Date:</strong>Nov 21st 2022, 7:07:02pm</p>
        </div>
    </div>
</div>

</fieldset>
{% endblock main-content %}