{% extends 'template_admin/adminbash.html' %}
{% load static %}

{% block main-content %}
<fieldset style="margin-bottom: 60px" class="filed_margin">

<div class="main-content">
{% for message in messages %}
    <div class="message {{ message.tags }}">
        <script>window.alert({{ message }})</script>
    </div>
{% endfor %}
    <div class="row row1">
        <div class="col-xl-5 row1-col1" style="margin-left: 10px">
           <div class="row">
               {% for x in student_profile %}
               <div class="col-sm-4" id = "student_photo" style="height:150px; width: 150px;">
                   <img style="width:100%; padding: 20px; border: #6b130d 2px solid; height: 100%;" src="{{ x.student_photo.url }}">
               </div>
               <div class="col-sm-8 id" style="margin-left:8px">
                   <div class="col-sm-12" id = "welcome" style="margin-top: 10px;"> Wellcome</div>
                   <div class="col-sm-12" id = "roll_no" style="margin-top: 10px"> {{ x.student_name }} ({{ x.student_roll_id }})</div>
               </div>
               <div class="col-sm-12 college_name" style="margin-top: 5px;"><i class="fa fa-home"><a style="text-decoration: none; color: black" href="#"> &nbsp; {{x.college_name_student }}</a></i></div>
               <div class="col-sm-16 program" style="margin-top:5px"><i class="fa fa-certificate"><a style="text-decoration: none; color: black" href="#"> &nbsp;{{ x.student_program }}</a></i></div>
               {% endfor %}
           </div>
        </div>

{#--------------------------------------------------------------------------------------------------------------#}

        <div class="col-xl-3 row1-col2" style="">
            <div class="row row1">
                <div class="col-sm-12 hot_link">
                    <p href="#"><i class="fa fa-fire">&nbsp; <a href="#">Hot Link</a></i></p>
                </div>
                <div class="con1">

                    {% for x in hotlin %}
                    <div class="col-sm-12"><a style = " color: red; text-decoration: none; font-weight: bolder; " href="{{ x.link_event }}"> {{ x.event_title }} &nbsp; &nbsp;{{ x.event_date.date }}</a> </div>
                    {% endfor %}

            </div>
            </div>

{#            <div class="row row2">#}
{#                <div class="col-sm-12">Content1</div>#}
{#                <div class="col-sm-12">Content1</div>#}
{#                <div class="col-sm-12">Content1</div>#}
{#                <div class="col-sm-12">Content1</div>#}
{#                <div class="col-sm-12">Content1</div>#}
{#                <div class="col-sm-12">Content1</div>#}
{#                <div class="col-sm-12">Content1</div>#}
{#            </div>#}
        </div>



{#----------------------------------------------------------------------------------#}
        <div class="col-xl-3 row1-col3" style="">
            <div class="row" style="">

                <div class="col-ms-12 latest " >
                    <p><i class="fa-envelope "><a href="#">Latest Enquiry (s)</a></i></p>
                </div>
                {% for x in data %}
                <div class="col-sm-12 content1">
                    <p>{{ x.Enuery_descriptin }}</p>
                    <p>Reply: <strong style="color: #5cb85c">{{ x.college_reply }}</strong></p>
                </div>
                {% endfor %}
                </div>
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <p>Content Text Qurity</p><br>#}
{#                    <p>Reply: </p>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{#--------------------------------------------------------------------------------------------------------#}
{#    Row-2 #}
    <div class="row row2">
        <div class="col-xl-8 row2-col1" >
            <div class="col-sm-12 row row2-col1-row1">
            <div class="col-sm-12 head1">
                <p><i class="fa fa-bell"> &nbsp; &nbsp;<a href="#">Latest Announcement(S)</a></i></p>
            </div>
                {% for x in annou %}
            <div class="col-sm-12 content2">
                <p>&nbsp; &nbsp;<a href="{{ x.document.url }}">{{ x.description }} {{ x.upload_at }} <strong style="color: #842029">({{ x.upload_at }})</strong> &nbsp; &nbsp;</a><a href="{{ x.document.url }}" class="btn-success" style="color: white; border: solid #842029 2px; border-radius: 10px; padding: 0px 3px 3px 3px; margin-top: 5px;" download>Download</a></p>
            </div>
                {% endfor %}
            </div>
        </div>

{#        Progress Sections  --------------------------#}
        <div class="col-xl-3 row2-col2">
            <div class="row row2-col2-row1">
                <div class="col-sm-12 head5">
                     <div><p><i class="fa-line-chart"><a  style="text-decoration: none; color: white; text-align: center; font-family: -apple-system" href="#">Progress</a> </i> </p></div>
                    <div class="col-sm-12  row content3">
                        {% for x in student_profile %}
                        <div class="col-sm-12">
{#                            <a href="{% url 'student_progress' x.student_semester %}"> Semester {{ x.student_semester }} </a>#}
                        </div>

                        <div class="col-sm-12">
{#                            <a href="/student_progress/{{ x.student_semester}}">Semester  </a>#}
                        </div>
                        {% endfor %}
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div><div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#">Semester 1 </a>
                        </div>



                    </div>


                </div>

            </div>
        </div>

    </div>



</div>
</fieldset>
{% endblock main-content %}


