{% extends 'template_admin/adminbash.html' %}
{% load static %}
{% block main-content %}


<fieldset style="margin-top: 110px; margin-bottom: 60px">
<form method="post"  enctype="multipart/form-data" >
{% csrf_token %}
    {% for x in edit_anno %}
    <div class="form-control align-center" id = "upload_anno">
    <label for="description">Description</label><br>
    <input class="input-group align-center h-100" type="text" name="description" placeholder="Describe about notice....." value="{{ x.description }}"><br>
    <label for="description_file">Upload File </label><br>
    <input class="input-group align-center" type="file" value="{{ x.document.url }}" name="document_anno"><br>
    <button type="submit">Update</button>
    </div>
    {% endfor %}
</form>
</fieldset>
{% endblock main-content %}