{% extends 'template_admin/adminbash.html' %}
{% load static %}

{% block main-content %}
<fieldset style="margin-bottom: 60px" class="filed_margin">

<center>
<div class="center w-100">Reply Enqueriy</div> <br>
<hr style="color: #0b5ed7;  width: 90%; ">
    <form enctype="multipart/form-data" method="post" class="form-control" style="width: 70%;">
        {% csrf_token %}
        {% for x in data %}

        <label for="id" class="label">Enquiry ID:</label>
        <input type="text" name="id" class="form-control input"  value="{{ x.id }}"> <br>

        <label for="enq_date" class="label">Enquiry Date:</label>
        <input type="text" name="enq_date" class="form-control input"  value="{{ x.enq_date }}"> <br>

        <label for="enq_des" class="label">Enquiry Description: </label>
        <input type="text" name="enq_des" class="form-control input" value="{{ x.Enuery_descriptin }}"> <br>

        <label for="req_related" class="label">Enquiry Related:</label>
        <input type="text" name="req_related" class="form-control input"  value="{{ x.Query_related_to }}"> <br>

        <label for="college_reply" class="label">Type below your answer:</label>
        <input type="text" name="college_reply" class="form-control input"><br>
        <button type="submit" class="btn-success ">Reply</button>
          {% endfor %}

    </form>
</center>
</fieldset>
{% endblock %}