{#{% if user.is_authenticated %}#}
{% extends 'student/bash.html' %}
{#{% endif %}#}
{% load static %}

<fieldset style="margin: 300px" class="filed_margin">

{% block main-content %}
 <style type="text/css">
        .ex {
            text-align: center;
            background-image:
            url("http://ewh.ieee.org/sb/delhi/bbsbec/images/clogo.png");
            background-position: center;
            background-repeat: repeat;
            background-attachment: fixed;
            background-size: 60px;
        }
    </style>
 <body class="ex">
 {% if not user.is_authenticated  %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="singup bg-body-secondary" >
        <label for="usernameee" id="username_label">Roll Code &nbsp;</label> <br>
        <input type="text" placeholder="Enter Roll Number" id="username" name="username" required> <br>

        <label for="email" id="email_lable">Email: &nbsp;</label> <br>
        <input type="email" placeholder="Enter email" name="email" id ="email" required> <br>

        <label for = "password1" id = "password_lable">Password: &nbsp;</label> <br>
        <input type="text" placeholder="Enter passwrod" name="password" id = "password" required><br>


        <label for = "password1" id = "password1_lable">Confirm Password: &nbsp;</label> <br>
        <input type="text" placeholder="Enter passwrod" name="password1" id = "password1" required><br>

        <button type="submit" id = "singup_btn" value="Singup">Singup</button><br>
        <button type="submit"  id = "singup_btn"  value="Singup" style="border-radius: 20px; "><a href="{% url 'student' %}" style="text-decoration: none; color: white">Login</a></button>
    </div>
</form>
 {% endif %}
    </body>

{% endblock main-content %}

</fieldset>